/* So i'm going to change my flex direction to column and
align the items using the column setup */
body{
    background-color: rgb(98, 96, 124);
}
.login{
    display: flex;
    flex-direction: column; /* column to align flex items vertically*/
    align-items: center;
    border: 5px solid black; /* Setting up the border*/
    border-radius: 40px; /*Curves*/
    min-width: 250px;
    max-width: 500px;
    min-height: 350px;
    background-color: gray;
    margin: auto;
    margin-top: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.flex-item{
    /* border: 3px solid black;  Commenting out these borders later */
    padding: 10px;
    font-size: 18px;
    text-align:  center;
    width: 200px;
}
.button{
    order: 4;
    padding: 30px;
}
/*Not flexbox styling*/

#usr{
    appearance: none;
    border-radius: 10px;
    width: 200px;
    height: 25px;
}
#pwd{
    appearance: none;
    border-radius: 10px;
    width: 200px;
    height: 25px;
}
#btn{
    border-radius: 10px;
    width: 150px;
    height: 30px;
}