/* So i'm going to change my flex direction to column and
align the items using the column setup */
body{
    background-color: rgb(98, 96, 124);
}
.login{
    display: flex;
    flex-direction: column; /* column to align flex items vertically*/
    align-items: center;
    border: 5px solid black; /* Setting up the border*/
    border-radius: 40px; /*Curves*/
    min-height: 240px;
    margin: auto;
    flex-wrap: wrap;
    background-color: gray;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.flex-item{
    border: 3px solid black; /* Commenting out these borders later */
    padding: 5px;
    color: black;
    font-size: 18px;
}
.username{
    width: 200px;

}
.password{
    width: 200px;
}
.button{
    order: 4;
    padding: 10px;
    align-self: center;
}
